/* Change to grid */
/* https://www.w3schools.com/css/css_grid.asp */

.blog-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.blog-list .blog-item {
  width: 200px;
  height: 150px;
  background-color: #fff;
  box-shadow: 0 1px 6px 1px #666;
  position: relative;
  margin-bottom: 30px;
  margin-right: 15px;
}

.blog-list .blog-item a {
  width: 100%;
  height: 100%;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
}

.blog-list .blog-item a img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.blog-list .blog-item a label {
  box-sizing: border-box;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 1.2rem;
  padding: 5px 10px;
  z-index: 1;
  background-image: linear-gradient(to top, #000d, transparent);
  color: #fff;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
