.blog-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  overflow-y: overlay;
  height: 100%;
}

.blog-list .blog-item {
  width: 100%;
  display: flex;
  position: relative;
  margin-bottom: 30px;
}

.blog-list .blog-item a {
  text-decoration: none;
  display: inherit;
  width: 150px;
  height: 150px;
}

.blog-list .blog-item a img {
  width: 100%;
}

.blog-list .blog-item .title-container {
  display: inline-block;
  height: 100%;
  padding: 0 10px;
  width: 70%;
}

.blog-list .blog-item .title-container label {
  box-sizing: border-box;
  font-size: 1.35rem;
  font-weight: bold;
  cursor: text;
  word-break: break-all;
}

.blog-list.grid {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 0 20px;
}

.blog-list.grid .blog-item {
  width: 100%;
  height: 150px;
  background-color: #fff;
  box-shadow: 0 1px 6px 1px #666;
  position: relative;
  margin-bottom: 20px;
}

.blog-list.grid .blog-item:last-child {
  margin: 0;
}

.blog-list.grid .blog-item a {
  width: 100%;
  height: 100%;
  display: inline-block;
  text-decoration: none;
}

.blog-list.grid .blog-item a img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.blog-list.grid .blog-item .title-container {
  width: 100%;
  height: 15%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  padding: 5px 0;
  background-image: linear-gradient(to top, #000d, transparent);
}

.blog-list.grid .blog-item .title-container label {
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 1.2rem;
  padding: 5px 10px;
  z-index: 1;
  color: #fff;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  text-shadow: 0 0 5px black;
}

@media screen and (min-width: 768px) {
  
}

@media screen and (min-width: 1024px) {
  .blog-list .blog-item {
    width: 100%;
    display: flex;
    position: relative;
    margin-bottom: 30px;
  }

  .blog-list .blog-item a {
    cursor: pointer;
    text-decoration: none;
    display: inherit;
    width: 150px;
    height: 150px;
  }

  .blog-list .blog-item a img {
    width: 100%;
  }

  .blog-list .blog-item .title-container {
    display: inline-block;
    height: 100%;
    padding: 0 10px;
    width: 70%;
  }

  .blog-list .blog-item .title-container label {
    box-sizing: border-box;
    font-size: 1.35rem;
    font-weight: bold;
    cursor: text;
    word-break: break-all;
  }

  .blog-list.grid {
    align-items: flex-start;
    height: auto;
  }

  .blog-list.grid .blog-item {
    width: calc(100% / 5 - 20px);
    margin-bottom: 30px;
    margin-right: 25px;
  }

  .blog-list.grid .blog-item:nth-child(5n),
  .blog-list.grid .blog-item:last-child {
    margin-right: 0;
  }

  .blog-list.grid .blog-item a {
    cursor: pointer;
  }

  .blog-list.grid .blog-item .title-container label {
    cursor: text;
  }
}
