.menu-container {
  display: flex;
  height: 60px;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  margin-bottom: 20px;
}

.menu-container nav {
  display: none;
}

.menu-container a {
  text-decoration: none;
  color: #212;
  user-select: none;
}

.menu-container img {
  height: 50px;
  user-select: none;
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1024px) {
  .menu-container {
    width: 100%;
  }

  .menu-container nav {
    display: flex;
    justify-content: space-between;
    width: 15%;
  }

  .menu-container nav a {
    position: relative;
  }

  .menu-container nav a::after {
    content: "";
    width: 0;
    height: 3px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: red;
    transition: width 0.6s;
    transform: translate(0, 6px);
  }

  .menu-container nav a:hover::after {
    width: 100%;
  }

  .menu-container a {
    text-decoration: none;
    color: #212;
  }

  .menu-container .logo {
    transform: translate(-150%);
  }

  .menu-container img {
    height: 50px;
  }
}
