.feed-main {
  height: 74vh;
}

.feed-main .empty-feed {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90%;
}

.feed-main .feed-filter {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

@media screen and (min-width: 768px) {
  
}

@media screen and (min-width: 1024px) {
  .feed-main .feed-filter {
    margin-bottom: 30px;
  }
}
